<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admpage.css') }}">
    <title>Painel</title>
</head>
<body>
    <header>
        <h1>Painel de pedidos</h1>
    </header>
    <main>
        <section class="bloco">
            <div class="titulo">               
                <h3>Pedidos recebidos</h3>
            </div>  
                {% for pedido in pedidosproducao %}
                    <div>
                        <p>ID do pedido: {{ pedido[0] }}</p>
                        <p>Nome do cliente: {{ pedido[1] }}</p>
                        <p>Tamanho: {{ pedido[2] }}</p>
                        <p>Massa: {{ pedido[3] }}</p>               
                        <p>Recheio: {{ pedido[4] }}</p>
                        <p>Valor: R$ {{ pedido[5] }}</p>
                        <form method="POST" action="/concluirpedido/{{ pedido[0] }}">
                            <button id="botaoconcluir" title="Concluir pedido">
                                <img src="{{ url_for('static', filename='img/concluir.svg') }}" alt="Concluir pedido">
                            </button>
                        </form>
                        <form method="POST" action="/editarpedido/{{ pedido[0] }}">
                            <button id="botaoeditar" title="Editar pedido">
                                <img src="{{ url_for('static', filename='img/editar.svg') }}" alt="Editar pedido">
                            </button>
                        </form>
                    </div>
                {% endfor %}
        </section>

        <section class="bloco">
            <div class="titulo">
                <h3>Pedidos concluídos</h3>
            </div>           
            {% for pedido in pedidosconcluidos %}
                <div>
                    <p>ID do pedido: {{ pedido[0] }}</p>
                    <p>Nome do cliente: {{ pedido[1] }}</p>
                    <p>Tamanho: {{ pedido[2] }}</p>
                        <p>Massa: {{ pedido[3] }}</p>
                        <p>Recheio: {{ pedido[4] }}</p>
                        <p>Valor: R$ {{ pedido[5] }}</p>
                        <form action="/deletarpedido/{{ pedido[0] }}" method="POST">
                            <button id="botaodeletar" title="Deletar pedido">
                                <img src="{{ url_for('static', filename='img/deletar.svg') }}" alt="Deletar pedido">
                            </button>
                        </form>                    
                </div>
            {% endfor %}
        </section> 
    </main>
    <section>
            <a href="/">Voltar ao cardápio</a>
    </section>
</body>
</html>